@import "tailwindcss";

.marquee-container {
  overflow: hidden;
  width: 100%;
}

.marquee {
  display: flex;
  gap: 2.5rem; /* jarak antar logo, sesuai gap-10 Tailwind */
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee img {
  height: 350px; /* atur sesuai kebutuhan */
  width: auto;
  object-fit: contain;
  flex-shrink: 0; /* supaya gambar tidak mengecil */
}